*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(234, 236, 238);
}
body a{
    text-decoration: none;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 59, 139);
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    animation: animateBg 10s linear infinite;
    box-shadow: 0px 0px 20px white;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
section .loader{
    position: relative;
    width: 120px;
    height: 120px;
}
section .loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    transform: rotate(calc(18deg * var(--i)));
}
section .loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px white,
                0 0 20px white,
                0 0 40px white,
                0 0 60px white,
                0 0 80px white,
                0 0 100px white;
    animation: animate 2s linear infinite;  
    animation-delay: calc(0.1s * var(--i));          
}
@keyframes animate{
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
}
.telephone{
    display: none;
}
nav{
    width: 100%;
    height: 100px;
    z-index: 1000000;
    display: flex;
    background-color: rgb(41 45 58);
    padding-left: 50px;
    box-shadow: 0px 0px 15px silver;
    position: relative;
}
nav input{
    width: 21%;
    height: 33px;
    border-radius: 0.5cm;
    border: 1px solid white;
    font-family: 'Poppins',sans-serif;
    padding-left: 20px;
    margin-left: 60px;
    margin-top: 37px;
    position: relative;
}
.diamond{
    display: flex;
}
.diamond i{
    margin-left: 13px;
    margin-top: 35px;
    color: #fff;
    font-size: 31px;
}
.div1 i{
    left: 12%;
    color: #fff;
    top: 42%;
    font-size: 15px;
    position: absolute;
    cursor: pointer;
}
.div1{
    padding-top: 35px;
    margin-left: 30px;
}
.div1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 23px !important;
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.fa-magnifying-glass{
    top: 45%;
    left: 33.5%;
    font-size: 21px;
    color: rgb(41 45 58);
    position: absolute;
    cursor: pointer;
}
nav h2{
    font-family: 'Pacifico', sans-serif;
    padding-top: 17px;
    padding-left: 70px;
    color: #fff;
    font-size: 35px;
    font-weight: 100;
}
.div2{
    padding-top: 36px;
    padding-left: 87px;
    display: flex;
}
.div2 a{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.div2 i{
    color: #fff;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 20px;
    cursor: pointer;
}
.div3 {
    padding-top: 36px;
    padding-left: 70px;
}
.div3 a{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.div3 i{
    color: #fff;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 19px;
    cursor: pointer;
    position: relative;
}
.div3 span{
    width: 1.7%;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    color: rgb(30, 59, 139);
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 29.5%;
    right: 9%;
}
.yeni5{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.yeni4{
    width: 20%;
    height: 355px;
    margin-top: 30px;
    margin-left: 1px;
    background-color: rgb(253, 251, 251);
    border-radius: 0.2cm;
    border: 1px solid silver;
    box-shadow: 0px 0px 20px rgb(164, 164, 247);
    position: relative;
}
.yeni4 img{
    width: 90%;
    height: 200px;
    padding-left: 22px;
    padding-top: 10px;
}
.yeni4 h1{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: #212127;
    font-family: 'Poppins', sans-serif;
    font-family: 400;
}
.birinci{
    text-align: center;
    font-size: 15px;
    color:  rgb(41 45 58);
    margin-top: 7px;
}
.yeni4 .evvelki{
    color:white;
}
.yeni6 i{
    color:  rgb(41 45 58);
    font-size: 25px;
    padding: 5px 10px;
    background-color: transparent;
    margin-left: 98px;
    margin-top: 4px;
    cursor: pointer;
}
.h4{
    display: flex;
    padding: 2px 2px;
}
.h4 h4{
    border: 1px solid #212127;
    color: rgb(247, 179, 8);
    font-weight: 900;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 0.1cm;
    margin-top: 15px;
    padding: 3px 5px;
}
.yeni7{
    width: 100%;
    height: 0px;
    background-color: rgb(41 45 58);
    border-radius: 0.2cm;
    margin-top: 5px;
    position: relative;
    z-index: 1000;
    transition: 1s;
    overflow: hidden;
    opacity: 0;
}
/* .yeni6 i:hover .yeni7{
    height: 195px;
    opacity: 1;
    z-index: 1000;  
} */
.evvelki{
    font-family: 'Poppins',sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}
.evvelki p{
    color:rgb(30, 59, 139);
}
.movcud{
    color:white;
    font-family: 'Poppins',sans-serif;
    padding-left: 15px;
    margin-top: 10px;
}
.star{
    margin-left: 15px;
}
.star i{
    color: #fff;
    padding-top: 15px;
}
.btn{
    margin-left: 0px;
    margin-top: 20px;
}
.hamısı{
    padding: 9px 26px;
    color: #212127;
    background-color: transparent;
    border: 1px solid #212127;
    box-shadow: 0px 0px 15px silver;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 103px;
    font-weight: 600;
    cursor: pointer;
}
.hamısı:hover{
    box-shadow: 0px 0px 5px silver;
    background-color: #212127;
    color: white;
    border: 1px solid #212127;
}
.samsung{
    padding: 9px 26px;
    color: #212127;
    background-color: transparent;
    border: 1px solid #212127;
    box-shadow: 0px 0px 15px silver;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 600;
    cursor: pointer;
}
.samsung:hover{
    box-shadow: 0px 0px 5px silver;
    background-color: #212127;
    color: white;
    border: 1px solid #212127;
}
.iphone{
    padding: 9px 26px;
    color: #212127;
    background-color: transparent;
    border: 1px solid #212127;
    box-shadow: 0px 0px 15px silver;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 600;
    cursor: pointer;
}
.iphone:hover{
    box-shadow: 0px 0px 5px silver;
    background-color: #212127;
    color: white;
    border: 1px solid #212127;
}
.xiaomi{
    padding: 9px 26px;
    color: #212127;
    background-color: transparent;
    border: 1px solid #212127;
    box-shadow: 0px 0px 15px silver;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 600;
    cursor: pointer;
}
.xiaomi:hover{
    box-shadow: 0px 0px 5px silver;
    background-color: #212127;
    color: white;
    border: 1px solid #212127;
}
.huawei{
    padding: 9px 26px;
    color: #212127;
    background-color: transparent;
    border: 1px solid #212127;
    box-shadow: 0px 0px 15px silver;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 600;
    cursor: pointer;
}
.huawei:hover{
    box-shadow: 0px 0px 5px silver;
    background-color: #212127;
    color: white;
    border: 1px solid #212127;
}
.sebet {
    display: flex;
    background-color: transparent;
    border: 1px solid #212127;
    margin: auto;
    margin-top: 30px;
    padding: 7px 29px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px silver;
}
.sebet h2 {
    padding-top: 5px;
    font-size: 17px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.sebet i {
    color: white;
    padding-top: 6px;
    padding-left: 4px;
    font-size: 16px;
}
.son{
    width: 100%;
    height: 370px;
    background-color: #212127;
    margin-top: 50px;
}
.umumison{
    width: 70%;
}
.son1{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.son2{
    width: 80%;
    margin-left: 50px;
}
.son2 h1{
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.son2 h1::before {
    content:"";
    width:32%;
    left: 0%;
    position: absolute;
    z-index: 10;
    bottom:-1.6%;
    background-color: #e09200;
    height:1.9px;
    transition:1s;
}
.son2 a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 15px;
}
.son2 a:hover{
    text-decoration: underline;
    text-decoration-color: goldenrod;
}
.son h2{
    color: white;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: rgb(247, 188, 39);
    letter-spacing: 2px;
}
.son3{
    padding: 0px 120px;
    padding-left: 0px;
    padding-top: 5px;
}
.son3 i{
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fff;
    padding: 8px 9px;
    font-size: 20px;
}
.son3 a{
    display: flex;
    text-decoration: none;
}
.fa-instagram{
    color: #bc2a8d;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: rgb(37, 37, 243);
}
.fa-youtube{
    color: #d90000;
}
.umumison{
    padding-top: 30px;
    display: flex;
}
.umumii{
    margin-left: 50px;
}
.son .pepe{
    text-align: center;
    font-size: 18px;
    color: rgb(247, 188, 39);
    padding-top: 30px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
}
.pepe i{
    color: white;
}
.son5{
    display: flex;
    color: white;
    padding-left: 30px;
    width: 100%;
}
.son5 i{
    font-size: 18px;
    color: rgb(247, 188, 39);
}
.son5 p{
    font-size: 17px;
    padding-left: 8px;
}
.son5:hover{
    color: rgb(247, 188, 39);
    cursor: pointer;
}
.fa-heart{
    position: absolute;
    top: 7.4%;
    right: 10%;
    font-size: 19px;
    color: white;
}
.active{
    color: red;
    transition: 1s;
}
.sebet5{
    width: 100%;
    height: 530px;
    background-color: rgb(36, 35, 35);
    opacity: 0.9;
    display: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    z-index: 10000;
    right: 0;
    top: 15%;
    transition: 2s;
}
.sebet6{
    width: 60%;
    height: 496.8px;
    background-color: black;
    opacity: 1;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    z-index: 10000;
    top: 5.8%;
    right: 0;
}
.sebet6 h1{
    font-family: 'Poppins',sans-serif;
    font-size: 37px;
    font-weight: 200;
}
.sebet6 p{
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    font-weight: 100;
    color: #fff;
}
.sebet6 h3{
    bottom: 20%;
    position: absolute;
    right: 7%;
    font-size: 24px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1.5px;
}
.sebet6 .btns{
    position: absolute;
    z-index: 1000;
    bottom: 5%;
    right: 2%;
}
.sebet6 .btn1{
    background-color: black;
    border: 1px solid white;
    box-shadow: 0px 0px 6px silver;
    color: goldenrod;
    padding: 15px 18px;
    font-size: 20px;
    border-radius: 0.3cm;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}
.sebet6 .btn1 i{
    color: #fff;
    margin-left: 5px;
}
.sebet6 .btn2{
    background-color: black;
    border: 1px solid white;
    box-shadow: 0px 0px 6px silver;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    padding: 15px 22px;
    color: goldenrod;
    font-size: 20px;
    border-radius: 0.3cm;
    margin-left: 5px;
}
.sebet6 .btn2 i{
    color: #fff;
    padding-left: 8px;
}
.sebet6 .fa-xmark{
    position: absolute;
    top: 7%;
    left: 92%;
    font-size: 25px;
}
.boyuk{
    overflow-y: auto;
}
.boyuk::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #29484c;
}
::-webkit-scrollbar-thumb:hover {
    background: #4e6367;
}
.kicik{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.kicik img{
    width: 9%;
    height: 65px;
}
.kicik h1{
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    letter-spacing: 2px;
    color: goldenrod;
}
.kicik p{
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: goldenrod;
}
.fa-trash{
    cursor: pointer;
}
.yeni{
    width: 17.5%;
    height: 0px;
    background-color: white;
    z-index: 100000;
    position: absolute;
    left: 5%;
    top: 20%;
    transition: 1s;
    border: 1px solid silver;
    box-shadow: 0px 0px 10px black;
    opacity: 0;
    overflow: hidden;
}
.yeni1{
    display: flex;
    padding-top: 16px;
}
.yeni1:hover{
    background-color: silver;
}
.yeni1 img{
    width: 12%;
    height: 25px;
    margin-left: 83px;
}
.yeni1 p{
    font-size: 19px;
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
    padding-left: 10px;
    color:#212127;
    text-decoration: underline;
    text-decoration-color: goldenrod;
}
@media(max-width:768px){
    .btn{
        margin-top: 125px;
    }
    nav{
        height: 115px;
        display: flex;
        justify-content: space-between;
    }
    nav input{
        width: 36%;
        height:45px;
        position: absolute;
        left: 2%;
        margin-left: 0px;
        font-size: 16px;
    }
    .div2{
        display: none;
    }
    .fa-magnifying-glass{
       left: 30%;
       top: 55%;
       font-size: 18px;
    }
    .div1 h1{
        font-size: 27px;
        position: absolute;
        right: 10%;
        top:33%;
    }
    .div1 i{
        left:92%;
        font-size: 15px;
        top: 45%;
    }
    .div3 a{
        font-size: 26px;
        position: absolute;
        letter-spacing: 2px;
        right: 11%;
        top: 65%;
    }
    .div3 i{
        right: 83%;
        top: 50%;
        font-size: 15px;
    }
    .div3 span{
        width: 5%;
        height: 18px;
        top: 80%;
        right: 1%;
    } 
    nav h2{
        font-size: 24px;
    }
    .diamond h2{
        font-size: 24px;
        padding-left: 0px;
        position: absolute;
        left: 30%;
        padding-top: 6px;
    }
    .diamond img{
        width: 13%;
        height: 40px;
        top: 49%;
        left: 45%;
    }
    .yeni{
        width: 64%;
        left: 34%;
    }
    .son{
        height: 840px;
    }
    .son1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .son2{
        width: 100%;
        margin-top: 20px;
    }
    .son2 h1{
        font-size: 32px;
    }
    .son2 a{
        font-size: 20px;
    }
    .son .pepe{
        padding-top: 500px;
    }
    .umumison{
        width: 100%;
        display: flex;
        padding-top: 20px;
    }
    .umumii{
        width: 50%;
        margin-left: 10px;
    }
    .son4{
        width: 50%;
    }
    .son5{
        padding-top: 5px;
    }
    .hamısı{
        margin-left: 1.7px;
        padding: 5px 5px;
    }
    .samsung{
        margin-left: 1.3px;
        padding: 5px 3px;
    }
    .iphone{
        margin-left: 1.3px;
        padding: 5px 5px;
    }
    .xiaomi{
        margin-left: 1.3px;
        padding: 5px 5px;
    }
    .huawei{
        margin-left: 0px;
        padding: 5px 5px;
    }
    .yeni5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .yeni4{
        width: 47%;
    }
    .yeni4 img{
        width: 90%;
        height: 178px;
        padding-left: 18px;
    }
    .yeni6 i{
        margin-top: 15px;
        margin-left: 70px;
    }
    .hh4{
        height: 27px;
        width: 50%;
    }
    .evvelki{
        font-size:14px;
        padding-left: 5px;
    }
    .movcud{
        font-size: 14px;
        padding-left: 5px;
    }
    .sebet{
        margin-top: 23px;
    }
    .yeni{
        top: 15%;
    }
    .sebet5{
        height: 305px;
        top: 13.4%;
    }
    .sebet6{
        width: 80%;
        height: 303px;
        top: 0%;
    }
    .div1{
        padding-top: 10px;
    }
    .sebet6 h1{
        font-size: 30px;
    }
    .sebet5 .fa-xmark{
        font-size: 20px;
        top: 11%;
    }
    .sebet6 p{
        font-size: 20px;
        padding-left: 6px;
    }
    .sebet6 .btn1{
        padding: 8px 8px;
        font-size: 14px;
    }
    .sebet6 .btn2{
        padding: 8px 8px;
        font-size: 14px;
    }
    .sebet6 h3{
        font-size: 20px;
    }
    .kicik img{
        height: 37px;
    }
    .kicik h1{
        font-size: 20px;
    }
    .kicik p{
        font-size: 20px;
    }
}